<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />


    <!-- Location permissions for Entrant geolocation feature -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Camera Permission -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KonohaEvents"
        tools:targetApi="34">

        <!-- OpenStreetMap config -->
        <meta-data
            android:name="org.osmdroid.config"
            android:resource="@xml/osm_config" />

        <!-- Organizer Map Activity -->
        <activity
            android:name=".OrganizerMapActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents" />

        <!-- Home screen (Launcher) -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.KonohaEvents">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents" />

        <!-- Admin Activity -->
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents" />

        <!-- Organizer Activity -->
        <activity
            android:name=".OrganizerActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents" />

        <!-- Create Event Activity -->
        <activity
            android:name=".CreateEventActivity"
            android:exported="true"
            android:theme="@style/Theme.KonohaEvents"
            tools:node="replace"/>
        <activity
            android:name=".EventQRCodeActivity"
            android:exported="false" />

        <!-- Entrant Activity -->
        <activity
            android:name=".EntrantActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents" />

        <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents" />
        <activity
            android:name=".EntrantMyEventActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents" />

        <activity
            android:name=".QRScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".EventDetailsActivity"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AdminProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents"
            android:parentActivityName=".AdminActivity"/>
        <activity
            android:name=".AdminEventActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents"
            android:parentActivityName=".AdminActivity"/>
        <activity
            android:name=".AdminImageActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents"
            android:parentActivityName=".AdminActivity"/>
        <activity
            android:name=".AdminNotificationActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents"
            android:parentActivityName=".AdminActivity"/>

        <!-- Organizer Activities -->
        <activity
            android:name=".OrganizerViewEventListActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents"
            android:parentActivityName=".OrganizerActivity"/>

        <!-- Organizer/Admin Activities-->
        <activity
            android:name=".EventDetails"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.konoha.konoha_events.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".EventEntrantDetails"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents"/>

        <!-- Entrant Home screen for device-based login -->
        <activity
            android:name=".EntrantHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents" />

        <!-- Entrant Guidline -->
        <activity
            android:name=".GuidelinesActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents" />

        <!-- Entrant Invitations -->
        <activity
            android:name=".EntrantInvitationsActivity"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents" />
        <!-- Entrant History -->
        <activity
            android:name=".EntrantHistory"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents" />
        <!-- Entrant Filter -->
        <activity
            android:name=".EntrantFilterEvents"
            android:exported="false"
            android:theme="@style/Theme.KonohaEvents" />
    </application>

</manifest>